[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
symbolic-links=0
default_authentication_plugin=caching_sha2_password

bind-address            = 0.0.0.0
server-id               = 2
relay-log               = /var/run/mysqld/honeymorning-relay-bin.log
log_bin                 = /var/run/mysqld/honeymorning-bin.log
binlog_do_db            = honeymorning

read_only = on
# super_read_only = on [local mode 허용]

gtid_mode                = on
enforce_gtid_consistency = on
log_replica_updates        = on
event_scheduler = on

slow_query_log           = 1 # 슬로우 쿼리 추적을 위한
slow_query_log_file      = /var/lib/mysql/slow-query.log
long_query_time          = 1 # 슬로우 쿼리 최소 초 단위
log_queries_not_using_indexes = 1 # 인덱스 안쓰 쿼리 추적을 위한