global
    log stdout format raw local0
    maxconn 4096

defaults
    mode tcp
    log global
    option tcplog
    option dontlognull
    timeout connect 5s
    timeout client 120s
    timeout server 120s

frontend rabbitmq_amqp_front
    bind *:5672
    default_backend rabbitmq_amqp_back

backend rabbitmq_amqp_back
    balance roundrobin
    option tcp-check
    server rabbitmq-1 rabbitmq-1:5672 check inter 5s rise 2 fall 3
    server rabbitmq-2 rabbitmq-2:5672 check inter 5s rise 2 fall 3
    server rabbitmq-3 rabbitmq-3:5672 check inter 5s rise 2 fall 3

frontend rabbitmq_mgmt_front
    bind *:15672
    mode http
    default_backend rabbitmq_mgmt_back

backend rabbitmq_mgmt_back
    mode http
    balance roundrobin
    option httpchk
    http-check send meth GET uri /api/health/checks/alarms hdr Authorization "Basic YWRtaW46YWRtaW4="
    http-check expect status 200
    server rabbitmq-1 rabbitmq-1:15672 check inter 5s rise 2 fall 3
    server rabbitmq-2 rabbitmq-2:15672 check inter 5s rise 2 fall 3
    server rabbitmq-3 rabbitmq-3:15672 check inter 5s rise 2 fall 3

listen stats
    bind *:1936
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats auth admin:admin

